 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Laureata in storia dell'arte all'Universita' di Genova e diplomata nel corso triennale di fumetto presso la Scuola Chiavarese del Fumetto di Sestri Levante.</p>
                </div>
                <div class="col-lg-4">
                    <p> Appassionata di musica, cinema e ovviamente arte, trova nel fumetto e nell'illustrazione i mezzi adeguati ad esprimersi e a coniugare armonicamente disegno e narrazione, forma e contenuto. </p>
                    <p>Attualmente sta preparando progetti per la pubblicazione. Realizza inoltre lavori su commissione. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
            </div>
        </div>
    </section>
